<!DOCTYPE html>
<html>
  <head>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <title>Product Review Sentiment</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.0/dist/chart.min.js"></script>
    <script type="text/javascript">
      // Load google charts
      google.charts.load("current", { packages: ["corechart"] });
      google.charts.setOnLoadCallback(drawChart);

      // Draw the chart and set the chart values
      function drawChart() {
        //var counts = {{ val|tojson }};
        var counts = JSON.parse("{{ val }}");
        console.log(counts.length);

        if (counts.length > 2) {
          var positive = counts[2];
          var negative = counts[0];
          var neutral = counts[1];
          var data = google.visualization.arrayToDataTable([
            ["Task", "Number of reviews"],
            ["positive", positive],
            ["neutral", neutral],
            ["negative", negative],
          ]);
        } else {
          var positive = counts[1];
          var negative = counts[0];
          var data = google.visualization.arrayToDataTable([
            ["Task", "Number of reviews"],
            ["positive", positive],
            ["negative", negative],
          ]);
        }

        // Optional; add a title and set the width and height of the chart
        var pieChartOptions = {
          title: "Pie Chart Based on reviews",
          width: 850,
          height: 500,
        };
        var barChartOption = {
          title: "Bar Chart Based on reviews",
          width: 850,
          height: 500,
        };

        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(
          document.getElementById("piechart")
        );
        chart.draw(data, pieChartOptions);

        var barchart = new google.visualization.BarChart(
          document.getElementById("barchart")
        );
        barchart.draw(data, barChartOption);
      }
    </script>

    <style>
      /* Add a black background color to the top navigation */
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        background-image: url("/static/img/bg6-light.jpg");
        background-position: center;
        font-family: Arial, Helvetica, sans-serif;
      }

      /* Add a black background color to the top navigation */
      .header {
        position: fixed;
        width: 100%;
        box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.05);
        z-index: 1000;
      }
      .topnav {
        background-color: rgba(255, 255, 255, 0.85);
        overflow: hidden;
        display: flex;
        justify-content: center;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(6px);
        -moz-backdrop-filter: blur(6px);
      }

      /* Style the links inside the navigation bar */
      .topnav a {
        float: left;
        color: #000000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 14px;
      }

      /* Change the color of links on hover */
      .topnav > a:hover {
        text-decoration: underline;
        font-weight: 600;
        color: black;
      }

      /* Add a color to the active/current link */
      .topnav a.active {
        background: #222222;
        color: rgb(255, 255, 255);
        border-radius: 5px;
      }

      .product_heading {
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        -moz-backdrop-filter: blur(6px);
        background-color: rgba(255, 255, 255, 0.25);
        border-radius: 5px;
      }

      .product_heading h1 {
        text-align: center;
        font-weight: 600;
      }

      .w3-card,
      .w3-card-2 {
        box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.1) !important;
      }

      .container {
        margin-top: 4em;
      }

      .active_bg {
        background: #000;
        border-radius: 5px;
        height: 35px;
        margin-top: 8px;
        display: flex;
        align-items: center;
      }

      .active_bg a {
        color: white;
      }

      .graphs {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    </style>
  </head>

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <body>
    <div class="header">
      <div class="topnav">
        <a href="/home">Home</a>
        <div class="active_bg"><a href="/">Search</a></div>
        <a href="/link">Add Link</a>
        <a href="/about">About</a>
      </div>
    </div>
    <div class="container">
      <div class="w3-panel w3-card product_heading">
        <h1>Product Recommendation System</h1>
        <hr />
        <form id="input-form" method="post" action="/" class="form">
          <div>
            <div class="row graphs" style="justify-content: center">
              <!-- <div class="graph_container col col-9"> -->
              <!-- <div id="piechart"></div> -->
              <!-- <input type="text" class="form-control col col-10" name="url"  required pattern="https://www.amazon.in/(.*)" placeholder="Paste amazon product link..."/> -->
              <!-- </div> -->
              <!-- <div class="bar col col-6">
                <div id="barchart"></div> -->
              <!-- <input type="text" class="form-control col col-10" name="url"  required pattern="https://www.amazon.in/(.*)" placeholder="Paste amazon product link..."/> -->
              <!-- </div> -->
              <div class="container col col-6">
                <canvas id="myChart" width="400" height="400"></canvas>
                <script>
                  var counts = JSON.parse("{{ val }}");
                  if (counts.length > 2) {
                    var positive = counts[2];
                    var negative = counts[0];
                    var neutral = counts[1];
                  } else {
                    var positive = counts[1];
                    var negative = counts[0];
                    var neutral = 0;
                  }
                  var total = positive + negative + neutral;
                  var pos = (positive / total) * 100;
                  var neg = (negative / total) * 100;
                  var neu = (neutral / total) * 100;
                  var ctx = document.getElementById("myChart");
                  var myChart = new Chart(ctx, {
                    type: "pie",
                    data: {
                      labels: ["Positive", "Negative", "Neutral"],
                      datasets: [
                        {
                          label: "Sentiment",
                          data: [pos, neg, neu],
                          backgroundColor: [
                            "rgba(255, 99, 132, 1)",
                            "rgba(54, 162, 235, 1)",
                            "rgba(255, 206, 86, 1)",
                          ],
                          borderColor: [
                            "rgba(255, 99, 132, 1)",
                            "rgba(54, 162, 235, 1)",
                            "rgba(255, 206, 86, 1)",
                          ],
                          borderWidth: 1,
                          hoverOffset: 4,
                        },
                      ],
                    },
                    options: {
                      responsive: true,
                      maintainAspectRatio: true,
                      scales: {
                        y: {},
                      },
                    },
                  });
                  console.log(total);
                </script>
              </div>
              <div class="container col col-6">
                <canvas id="myChart2" width="400" height="400"></canvas>
                <script>
                  var counts = JSON.parse("{{ val }}");
                  if (counts.length > 2) {
                    var positive = counts[2];
                    var negative = counts[0];
                    var neutral = counts[1];
                  } else {
                    var positive = counts[1];
                    var negative = counts[0];
                    var neutral = 0;
                  }
                  var total = positive + negative + neutral;
                  var pos = (positive / total) * 100;
                  var neg = (negative / total) * 100;
                  var neu = (neutral / total) * 100;
                  var ctx = document.getElementById("myChart2");
                  var myChart2 = new Chart(ctx, {
                    type: "bar",
                    data: {
                      labels: ["Positive", "Negative", "Neutral"],
                      datasets: [
                        {
                          label: "Sentiment",
                          data: [pos, neg, neu],
                          backgroundColor: [
                            "rgba(255, 99, 132, 1)",
                            "rgba(54, 162, 235, 1)",
                            "rgba(255, 206, 86, 1)",
                          ],
                          borderColor: [
                            "rgba(255, 99, 132, 1)",
                            "rgba(54, 162, 235, 1)",
                            "rgba(255, 206, 86, 1)",
                          ],
                          borderWidth: 1,
                          hoverOffset: 4,
                        },
                      ],
                    },
                    options: {
                      responsive: true,
                      maintainAspectRatio: true,
                      scales: {
                        x: {},
                      },
                      indexAxis: "y",
                    },
                  });
                </script>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
